<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="container">
            <h1>Login</h1>

            <form role="form">
                <div class="input-group">
                    <input class="form-control input-group-sm" type="text" placeholder="E-mail" />
                    <hr />
                    <input class="form-control input-group-sm" type="password" placeholder="Password" />
                    <br />
                    <hr />
                    <button class="form-control btn btn-success" type="submit">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>