<div class="bgPicture">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 hidden-xs"></div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-sx-12 whiteSquare marginToNavBar">
            <h1>Login</h1>
            <p class="TopMargin20">E-mail</p>
            <input class="form-control input-group-sm" type="text" placeholder="E-mail" />
            <p class="TopMargin20">Password</p>
            <input class="form-control input-group-sm" type="password" placeholder="Password" />
            <hr />
            <button class="form-control OrcaQuizzBtn" type="submit">Login</button>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 hidden-xs"></div>
    </div>
</div>


<form role="form">
    <div class="input-group">

    </div>
</form>

