@model SessionCompletedVM

<script type="text/javascript">
    function genPDF() {
        var doc = new jsPDF();
        html2canvas(document.getElementById("pdfDiv"), {
            onrendered: function (canvas) {
                var img = canvas.toDataURL("image/png");
                doc.addImage(img, 'JPEG', 20, 20);
            }
        });
        //doc.fromHTML($('#pdfDiv').get(0), 20, 20, { width: 500 });
        doc.save('test.pdf');
    }
    app.controller('newCtrl', ['$scope', function ($scope) {
        $scope.userName;
        $scope.data;
        $scope.desiredLocation = myService.get();
    }]);
</script>

<div ng-controller="newCtrl">
    <div id="pdfDiv">
        <br />
        <br />
        <h1>C# Certificate</h1>
        <hr />
        <h3>{{userName}}</h3>
        <pre>{{ data }}</pre>
        <br />
        <p>Congratulations on passing the C# test!</p>
        <br />
        <i>/Patrik Jönsson</i>
        <br />
    </div>

    <h1>Test Completed</h1>

    <a href="javascript:genPDF()">Download</a>

    @if (Model.SessionCompletedReason == TestPlatform.Models.Enums.SessionCompletedReason.TimedOut)
    {
        <h5 class="red">
            Your test timed out
        </h5>
    }

@if (Model.IsSuccessfull.HasValue)
{
    if(Model.IsSuccessfull.Value)
    { 
        <h2>
            Congratulations @Model.UserName, you passed the test
        </h2>
    }
    else
    {
        <h2>
            Sorry, you did not pass the test this time
        </h2>
    }
}
