@model TestSession

<h1>Submitted test: </h1>
@foreach (var result in Model.QuestionResults)
{
    <p>
        Questionid: @result.Id
        Comment: @result.Comment
    </p>
    <p>
        Answers Id:
        @foreach (var answer in result.SelectedAnswers)
        {
            @answer
        }
    </p>
}   
