@model QuestionFormVM

<div class="whiteSquare">

    <h3 class="grayText">Question text</h3>
    <textarea asp-for="QuestionText" placeholder="" class="tinyMCE" id="mceQuestionBox"></textarea>
    <span asp-validation-for="QuestionText" class="text-danger"></span>

</div>