@model IGridableVM

<table>
    
    @foreach (var item in Model.GridItemDetails)
    {
        <tr>
            <td>
            @if (Model.ItemType == TestPlatform.Models.Enums.GridItemType.Question)
            {
                <p>Question Name: </p>@item.Name
            }
            @if(Model.ItemType == TestPlatform.Models.Enums.GridItemType.Test) 
            {
                <p>Test Name: </p>@item.Name
            }
            <div class="form-group">
                <input type="checkbox" id="@($"ItemId{@item.Id}")" name="@nameof(Model.SelectedItems)"/></div>
            </td>
        </tr>
    }
        
</table>