<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="https://code.angularjs.org/1.5.5/angular.min.js"></script>
    @*<script src="https://raw.githubusercontent.com/siddii/angular-timer/master/dist/angular-timer.min.js"></script>*@
    <script src="~/scripts/highchecktree.js"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <link href="~/css/highchecktree.css" rel="stylesheet" />
    <link href="~/css/main.css" rel="stylesheet" />

    <script>
        var app = angular.module('myApp', []);
    </script>

</head>

<body ng-app="myApp">
    <div>
        <br />
    </div>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-menu">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="~/">Quiz</a>
            </div>
            <div class="collapse navbar-collapse" id="main-menu">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="~/TestSession/Index/1">Testsession</a></li>
                    <li><a href="~/AdminCreate/EditTestContent/1">Import</a></li>
                    <li><a href="~/User/SelectTest">Take a test</a></li>
                    <li><a href="~/Admin/index">Manage tests</a></li>
                    <li><a href="~/User/Login">Log in</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="center-block">
                <br />
                <br />
                @RenderBody()
            </div>
        </div>
    </div>
</body>

</html>
