<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/main.css" rel="stylesheet" />
    <link href="~/css/fonts.css" rel="stylesheet" />
    <link href="~/css/images.css" rel="stylesheet" />
    <link href="~/css/heading.css" rel="stylesheet" />
    <link href="~/css/margins.css" rel="stylesheet" />
    <link href="~/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
    <link href='https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="https://code.angularjs.org/1.5.5/angular.min.js"></script>
    <script src="~/scripts/dist/jspdf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
    <script src="~/scripts/dist/jstree.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    @*<script src="~/lib/bootstrap-autohidingnavbar/dist/jquery.bootstrap-autohidingnavbar.js"></script>*@    

    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', ['$scope', '$window', function ($scope, $window) {
            $scope.data = [];
            // Now, whenever the button is clicked, this method is run.
            // It then stores the name in the 'data' array defined above.
            $scope.submitForm = function (name) {
                $scope.data.push(name);
            };

            $scope.gotClass = [
                {
                    name: 'Daenerys Targaryen',
                    email: 'wherearemydragons@mail.com',
                    testscore: 99
                },
                {
                    name: 'Rhaegar Targaryen',
                    email: 'iheartlyanna@mail.com',
                    testscore: 100
                },
                {
                    name: 'Aerys Targaryen',
                    email: 'madking@mail.com',
                    testscore: 91
                },
                {
                    name: 'Aemon Targaryen',
                    email: 'goodguy@mail.com',
                    testscore: 92
                },
                {
                    name: 'Viserys Targaryen',
                    email: 'goldencrown@mail.com',
                    testscore: 96
                },
                {
                    name: 'Robert Baratheon',
                    email: 'kingsblood@mail.com',
                    testscore: 78
                },
                {
                    name: 'Stannis Baratheon',
                    email: 'rightfulheir@mail.com',
                    testscore: 80
                },
                {
                    name: 'Renly Baratheon',
                    email: 'youngandwise@mail.com',
                    testscore: 85
                },
                {
                    name: 'Tywin Lannister',
                    email: 'familyiseverything@mail.com',
                    testscore: 88
                },
                {
                    name: 'Tyrion Lannister',
                    email: 'drinksandknowthings@mail.com',
                    testscore: 89
                },
                {
                    name: 'Jamie Lannister',
                    email: 'givemeahand@mail.com',
                    testscore: 75
                },
                {
                    name: 'Cersei Lannister',
                    email: 'givemehair@mail.com',
                    testscore: 80
                },
                {
                    name: 'Eddard Stark',
                    email: 'nedshead@mail.com',
                    testscore: 83
                },
                {
                    name: 'Catelyn Stark',
                    email: 'stoneheart@mail.com',
                    testscore: 82
                },
                {
                    name: 'Robb Stark',
                    email: 'pridebeforethefall@mail.com',
                    testscore: 88
                },
                {
                    name: 'Sansa Stark',
                    email: 'queeninthenorth@mail.com',
                    testscore: 85
                },
                {
                    name: 'Arya Stark',
                    email: 'blinddate@mail.com',
                    testscore: 77
                },
                {
                    name: 'Bran Stark',
                    email: 'visionquest@mail.com',
                    testscore: 79
                },
                {
                    name: 'Rickon Stark',
                    email: 'shaggysfriends@mail.com',
                    testscore: 74
                },
                {
                    name: 'Theon Greyjoy',
                    email: 'reek@mail.com',
                    testscore: 71
                },
                {
                    name: 'Yara Greyjoy',
                    email: 'whatisdeadmayneverdie@mail.com',
                    testscore: 67
                },
                {
                    name: 'Balon Greyjoy',
                    email: 'shakylegs@mail.com',
                    testscore: 51
                },
                {
                    name: 'Roose Bolton',
                    email: 'ironicdagger@mail.com',
                    testscore: 60
                },
                {
                    name: 'Ramsay Bolton',
                    email: 'releasethehounds@mail.com',
                    testscore: 54
                },
                {
                    name: 'Walder Frey',
                    email: 'weddingplanner@mail.com',
                    testscore: 57
                },
                {
                    name: 'Walda Frey',
                    email: 'gotanychicken@mail.com',
                    testscore: 64
                },
                {
                    name: 'Littlefinger',
                    email: 'ladderclimber@mail.com',
                    testscore: 53
                },
                {
                    name: 'Varys',
                    email: 'spiderwebs@mail.com',
                    testscore: 40
                },
                {
                    name: 'Gregor Clegane',
                    email: 'ridingmountains@mail.com',
                    testscore: 5
                },
                {
                    name: 'Sandor Clegane',
                    email: 'houndsonfire@mail.com',
                    testscore: 15
                }
            ]

            $scope.filterSwitch = function () {
                $scope.order = {
                    field: 'testscore',
                    reverse: true
                };
                switch ($('#showFilter').text())
                {
                    case 'below50':
                        $scope.studentFilter = $scope.below50;
                        break;
                    case 'between50and70':
                        $scope.studentFilter = $scope.between50and70;
                        break;
                    case 'between71and90':
                        $scope.studentFilter = $scope.between71and90;
                        break;
                    case 'over90':
                        $scope.studentFilter = $scope.over90;
                        break;
                    case 'fail':
                        $scope.studentFilter = $scope.fail;
                        break;
                    case 'pass':
                        $scope.studentFilter = $scope.pass;
                        break;
                    case 'showAll':
                        $scope.studentFilter = $scope.showAll;
                    default:
                }
            }

            $scope.studentFilter = {};
            $scope.pass = function (student) {
                return student.testscore > 69;
            }
            $scope.fail = function (student) {
                return student.testscore < 70;
            }
            $scope.over90 = function (student) {
                return student.testscore > 90;
            }
            $scope.between71and90 = function (student) {
                return student.testscore > 70 && student.testscore < 91;
            }
            $scope.between50and70 = function (student) {
                return student.testscore > 49 && student.testscore < 71;
            }
            $scope.below50 = function (student) {
                return student.testscore < 50;
            }
            $scope.showAll = function (student) {
                return student.testscore >= 0;
            }

            $scope.order = {
                field: 'testscore',
                reverse: true
            };

            $scope.dynamicOrder = function (user) {
                var order = 0;
                switch ($scope.order.field) {
                    default:
                        order = user[$scope.order.field];
                }
                return order;
            }

        }]);

        //$(document).ready(function () {
        //    $("div.navbar-fixed-top").autoHidingNavbar({
        //    });
        //});
    </script>
</head>

<body ng-app="myApp" ng-controller="myCtrl">

    <!-- #region Header -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-menu">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="~/admin/showresults">
                    <img class="HeaddingLogo" src="~/Images/Logo/OrcaTestLogoTransp.png" />
                    <p class="LogoText ThinLogo">Orca</p><p class="LogoText BoldLogo">Quiz</p>
                </a>
            </div>
            <div class="collapse navbar-collapse" id="main-menu">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="~/Admin/Dashboard">Dashboard</a></li>
                    <li><a href="~/TestSession/Index/1">Testsession</a></li>
                    @*<li><a href="~/User/SelectTest">Take a test</a></li>
                    <li><a href="~/Admin/index">Manage tests</a></li>*@
                    <li><a href="~/Home/Login">Log in</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- #endregion -->
<div class="topBottomMargin80">
    @RenderBody()
</div>
    @RenderSection("script", false)
</body>
</html>
