@model TestSettingsFormVM

<h1>Create a new test</h1>
<form asp-controller="Admin" asp-action="CreateTest">
    <label asp-for="TestName"></label>
    <input asp-for="TestName" />
    <span asp-validation-for="TestName"></span>
    <br />
    <input type="submit" value="Save" />
</form>