@model EditQuestionFormVM

<form asp-action="EditQuestion" asp-controller="Admin" role="form" class="form-inline">
    <div class="container-fluid">
        <div class="row">
                    <label asp-for="QuestionText"></label>
                    <textarea asp-for="QuestionText" placeholder="QuestionText"></textarea>
                    <span asp-validation-for="QuestionText" class="text-danger"></span>
                <br />
                    <label asp-for="SortOrder"></label>
                    <input asp-for="SortOrder" placeholder="Sort order"/>
                    <span asp-validation-for="SortOrder" class="text-danger"></span>

                    <label asp-for="HasComment"></label>
                    <input asp-for="HasComment" placeholder="Question"/>
                    <span asp-validation-for="HasComment" class="text-danger"></span>
                <br />

                <input type="submit" class="btn btn-success" value="CreateQuestion" />
                <a asp-action="EditTest" asp-controller="Admin" asp-route-id="@ViewBag.TestId"></a>
        </div>
    </div>
</form>


<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>

<script>

    tinymce.init({
        selector: 'textarea',
        height: 100,
        width: 1500,
        plugins: [
            'advlist autolink lists link image charmap print preview anchor',
            'searchreplace visualblocks code fullscreen',
            'insertdatetime media table contextmenu paste code',
            'textcolor colorpicker'
        ],
        toolbar: 'media | forecolor backcolor | undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
        content_css: [
            '//fast.fonts.net/cssapi/e6dc9b99-64fe-4292-ad98-6974f93cd2a2.css',
            '//www.tinymce.com/css/codepen.min.css'
        ]
    });

</script>
