@model DashboardVM
<div class="container-fluid">
    <div class="row">
        <div id="leftColumn" class="col-lg-3 col-md-3 col-sm-1 hidden-xs"></div>
        <div id="mainColumn" class="col-lg-6 col-md-6 col-sm-10 col-xs-12 whiteSquare">
            <h1>Dashboard</h1>
            <a asp-controller="Admin" asp-action="CreateTest"><button class="OrcaQuizzBtn">Create Test</button></a>


                    @foreach (var test in Model.Tests)
                    {
                        <div style="background-color: white; padding: 20px;">
                            <p class="onTheLine">@test.Name</p>
                            <p class="onTheLine">@test.Description</p>
                            <a asp-controller="Admin" asp-action="EditTestSettings" asp-route-TestId="@test.Id"><button class="OrcaQuizzBtn btnLong" style="float: right;">Change Quizz Name</button></a>
                            <a asp-controller="Admin" asp-action="ManageTestQuestions" asp-route-TestId="@test.Id"><button class="OrcaQuizzBtn btnLong" style="float: right;">Manage questions</button></a>
                        </div>
                        <br />
                    }

        </div>
        <div id="rightColumn" class="col-lg-3 col-md-3 col-sm-1 hidden-xs"></div>
    </div>
</div>

