@model DashboardVM


<a asp-controller="Admin" asp-action="CreateTest">Create Test</a>

@foreach (var test in Model.Tests)
{

    @test.Name
    @test.Description
    <a asp-controller="Admin" asp-action="EditTestSettings" asp-route-TestId="@test.Id">Edit test</a>
    <a asp-controller="Admin" asp-action="ManageTestQuestions" asp-route-TestId="@test.Id">Edit questions</a>

}
