@model DashboardVM
<div class="container-fluid">
    <div class="row">
        <div id="leftColumn" class="col-lg-2 col-md-1 hidden-sm hidden-xs"></div>
        <div id="mainColumn" class="col-lg-8 col-md-10 col-sm-12 col-xs-12 transparentWhiteSquare">
            <h1>Dashboard</h1>
            <a asp-controller="Admin" asp-action="CreateTest"><button class="OrcaQuizzBtn">Create Test</button></a>
            <div style="display:inline">
                @foreach (var test in Model.Tests)
                {
                    <div class="whiteSquare">
                        <p class="pBold onTheLine">@test.Name</p>
                        <p class="pBold onTheLine rightMargin10">: </p>
                        <p class="onTheLine">@test.Description</p>
                        <a asp-controller="Admin" asp-action="EditTestSettings" asp-route-TestId="@test.Id"><button class="awesomeQuizzBtn" style="float: right;">Change Quizz Name</button></a>
                        <a asp-controller="Admin" asp-action="ManageTestQuestions" asp-route-TestId="@test.Id"><button class="awesomeQuizzBtn" style="float: right;">Manage questions</button></a>
                    </div>
                }
            </div>

        </div>
        <div id="rightColumn" class="col-lg-2 col-md-1 hidden-sm hidden-xs"></div>
    </div>
</div>

