@model TestSettingsFormVM
@{
    Layout = "_SmallInputLayout";
}

<form asp-controller="Admin" asp-action="EditTestSettings">
    <h2>Settings</h2>
    <label asp-for="TestName"></label>
    <input class="input-group form-control" asp-for="TestName" />
    <span asp-validation-for="TestName"></span>
    <br />
    <button onclick="window.history.back()" class="orcaBtn btnWidth120 TopMargin20"><span class="fa fa-angle-left rightMargin5" aria-hidden="true"></span>Back</button>
    <button onclick="window.history.back()" class="orcaBtn btnWidth120 TopMargin20"><span class="fa fa-save rightMargin5" aria-hidden="true"></span>Save</button>
    @*<input class="orcaBtn btnWidth120 TopMargin20" type="submit" value="Save" />*@
</form>
