@model TestSettingsVM
<form asp-controller="Admin" asp-action="EditTestSettings">
    <label asp-for="TestName"></label>
    <input asp-for="TestName" />
    <span asp-validation-for="TestName"></span>
    <br />
    <input type="submit" value="Save"/>
</form>