@model TestSettingsFormVM
@{
    Layout = "_SmallInputLayout";
}
<div class="modal fade" id="SettingModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" onclick="window.location.href='/Admin/Dashboard'">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <form asp-controller="Admin" asp-action="EditTestSettings">
                    <h2>Settings</h2>
                    <label asp-for="TestName"></label>
                    <input class="input-group form-control" asp-for="TestName" />
                    <span asp-validation-for="TestName"></span>
                    <br />
                    <a href="~/Admin/Dashboard"><button class="orcaBtn btnWidth210 TopMargin20"><span class="fa fa-chevron-left rightMargin5"></span>Return to Dashboard</button></a>
                    <a href="~/Admin/Dashboard"><button class="orcaBtn btnWidth120 TopMargin20"><span class="fa fa-save rightMargin5"></span>Save</button></a>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function showModal() {
        $("#SettingModal").modal();
    });
</script>

