@model TestSettingsFormVM
@{
    Layout = "_SmallInputLayout";
}
<form asp-controller="Admin" asp-action="EditTestSettings">
    <h2>Settings</h2>
    <label asp-for="TestName"></label>
    <input asp-for="TestName" class="form-control" />
    <span asp-validation-for="TestName"></span>
    <br />
    <label asp-for="Description"></label>
    <input asp-for="Description" class="form-control" />
    <span asp-validation-for="Description"></span>
    <br />
    <label asp-for="Tags"></label>
    <input asp-for="Tags" class="form-control" />
    <span asp-validation-for="Tags"></span>
    <br />
    <label asp-for="TimeLimitInMinutes"></label>
    <input asp-for="TimeLimitInMinutes" class="form-control" />
    <span asp-validation-for="TimeLimitInMinutes"></span>
    <br />
    <label asp-for="ShowPassOrFail"></label>
    <input asp-for="ShowPassOrFail" class="form-control" />
    <span asp-validation-for="ShowPassOrFail"></span>
    <br />
    <label asp-for="ShowTestScore"></label>
    <input asp-for="ShowTestScore" class="form-control" />
    <span asp-validation-for="ShowTestScore"></span>
    <br />
    <label asp-for="PassPercentage"></label>
    <input asp-for="PassPercentage" class="form-control" />
    <span asp-validation-for="PassPercentage"></span>
    <br />
    <label asp-for="CustomCompletionMessage"></label>
    <input asp-for="CustomCompletionMessage" class="form-control" />
    <span asp-validation-for="CustomCompletionMessage"></span>
    <br />
    <label asp-for="CertTemplatePath"></label>
    <input asp-for="CertTemplatePath" class="form-control" />
    <span asp-validation-for="CertTemplatePath"></span>
    <br />
    <label asp-for="EnableCertDownloadOnCompletion"></label>
    <input asp-for="EnableCertDownloadOnCompletion" class="form-control" />
    <span asp-validation-for="EnableCertDownloadOnCompletion"></span>
    <br />
    <label asp-for="EnableEmailCertOnCompletion"></label>
    <input asp-for="EnableEmailCertOnCompletion" class="form-control" />
    <span asp-validation-for="EnableEmailCertOnCompletion"></span>
    <br />
    <a href="~/Admin/Dashboard"><button class="orcaBtn btnWidth210 TopMargin20"><span class="fa fa-chevron-left rightMargin5"></span>Return to Dashboard</button></a>
    <a href="~/Admin/Dashboard"><button class="orcaBtn btnWidth120 TopMargin20"><span class="fa fa-save rightMargin5"></span>Save</button></a>
</form>
<script>
    $(document).ready(function showModal() {
        $("#SettingModal").modal();
    });
</script>

