@model TestSettingsFormVM
<div class="row">
    <div id="leftColumn" class="col-lg-3 col-md-3 col-sm-1 col-xs-1"></div>
    <div id="mainColumn" class="col-lg-6 col-md-6 col-sm-10 col-xs-10 whiteSquare">
        <form asp-controller="Admin" asp-action="EditTestSettings">
            <label asp-for="TestName"></label>
            <input asp-for="TestName" />
            <span asp-validation-for="TestName"></span>
            <br />
            <input type="submit" value="Save" />
        </form>
    </div>
    <div id="rightColumn" class="col-lg-3 col-md-3 col-sm-1 col-xs-1"></div>
</div>
