@model ImportVM

<h1>Import Questions</h1>
<div class="row whiteSquare">
    <div class="col-md-6">
        <h3>All tests</h3>
        <div id="allTestsDiv">
        </div>
    </div>
    <div class="col-md-6 ">
        <h3>Current test</h3>
        <div id="currentTestDiv">
        </div>
    </div>
</div>

<input type="button" value="Copy Selected To Test" id="copySelectedButton" />
<input type="button" value="Delete Selected From Test" id="deleteSelectedButton" />

@section script
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>

    <script type="text/javascript">

        //----------------------

        $(document).ready(function()
        {
            $.get("/Admin/GetImportData",
                { id: @Model.TestId },
                function(data) {
                    var allTestsData = data.allTestsData;
                    var currentTestData = data.currentTestData;

                    $('#allTestsDiv').jstree(
                        { 'core' : {
                            'data' : allTestsData,
                        },
                            'plugins' : [
                                    'checkbox',
                                    "search"
                            ]
                        });

                    $('#currentTestDiv').jstree(
                       { 'core' : {
                           'data' : currentTestData,
                       },
                           'plugins' : [
                                   'checkbox'
                           ]});
                });

            $("#copySelectedButton").click(function()
            {
                var selectedElms = $('#allTestsDiv').jstree(true).get_selected('full',true);
                var idPrefix = "@(AppConstants.Import_QuestionIdPrefix)";
                var ids = [];

                for (var i = 0; i < selectedElms.length; i++) {
                    var id = selectedElms[i].id;
                    if (id.substring(0, idPrefix.length) == idPrefix)
                        ids.push(id.substring(idPrefix.length));
                }

                $.post("/Admin/CopyQuestionsToTest",
                    { testId: @Model.TestId, questionIds: ids },
                    function(data) {
                        alert(data);
                    });
            });
        });
    </script>
}
