@model ImportVM
<script>
    $(document).ready(function()
    {
        $.get("/Admin/GetImportData",
            { id: @Model.TestId },
            function(data) {
                var allTestsData = data.allTestsData;
                var thisTestData = data.thisTestData;

                //Example
                //$("#allTestsDiv").text(allTestsData[0].questionList[0].questionText);
                alert(allTestsData[0].questionList[0].questionText);
                savedAllTestData = allTestsData;

                $('#jstree').jstree(allTestsData);

                $(function () {
                    // 6 create an instance when the DOM is ready
                    $('#jstree').jstree();
                    // 7 bind to events triggered on the tree
                    $('#jstree').on("changed.jstree", function (e, data) {
                        console.log(data.selected);
                    });
                    // 8 interact with the tree - either way is OK
                    $('button').on('click', function () {
                        $('#jstree').jstree(true).select_node('child_node_1');
                        $('#jstree').jstree('select_node', 'child_node_1');
                        $.jstree.reference('#jstree').select_node('child_node_1');
                    });
                });

            });
    });

    app.controller('TreeController', ['$scope', '$filter', '$http', function ($scope, $filter, $http) {
        $http.get("/Admin/GetImportData")
            .success(function(data){
                $scope.NGallTestData = getById(@Model.TestId)
            })
            .error(function() {
                alert('unable to retrieve JSON file.');
                console.log('Unable to retrieve JSON file.');
            });
        
        
        $scope.delete = function(data) {
            data.nodes = [];
        };
        $scope.add = function(data) {
            var post = data.nodes.length + 1;
            var newName = data.name + '-' + post;
            data.nodes.push({name: newName,nodes: []});
        };
        $scope.tree = [{name: "Node", nodes: []}];

        while (true) {
            $scope.allTestsData = savedAllTestData;

            if ($scope.allTestsData != null)
            {
                alert($scope.allTestsData);
                break;
            }
        }
        
        //if (savedAllTestData != null) {
        //    add(savedAllTestData[0].questionList[0].questionText);
        //}
    }]);
</script>

<script type="text/ng-template" id="tree_item_renderer.html">
    {{data.name}}
    <button ng-click="add(data)">Add node</button>
    <button ng-click="delete(data)" ng-show="data.nodes.length > 0">Delete nodes</button>
    <ul>
        <li ng-repeat="data in data.nodes" ng-include="'tree_item_renderer.html'"></li>
    </ul>
</script>

<ul ng-controller="TreeController">
    <li ng-repeat="data in tree" ng-include="'tree_item_renderer.html'"></li>
</ul>

@*{{AllTestData[0].questionList[0].questionText}}*@

<h1>Import Questions</h1>

<div id="allTestsDiv">
    <div id="jstree"></div>

</div>


<div id="currentTestDiv">

</div>
 
<input type="button" value="Copy Selected To Test" id="copySelectedButton" />
<input type="button" value="Delete Selected From Test" id="deleteSelectedButton" />

<script type="text/javascript">

    @*$(document).ready(function()
    {
        $.get("/Admin/GetImportData",
            { id: @Model.TestId },
            function(data) {
                var allTestsData = data.allTestsData;
                var thisTestData = data.thisTestData;

                //Example
                $("#allTestsDiv").text(allTestsData[0].questionList[0].questionText);
            });
    });*@

</script>