@model ImportVM

<h1>Import Questions</h1>
<div class="row">
    <div class="col-md-6">
        <div id="allTestsDiv">
        </div>
    </div>
    <div class="col-md-6">
        <h3>Current test</h3>
        <div id="currentTestDiv">
        </div>
    </div>
</div>

<input type="button" value="Copy Selected To Test" id="copySelectedButton" />
<input type="button" value="Delete Selected From Test" id="deleteSelectedButton" />

<button class="orcaBtn topMargin-8 rightMargin10 onTheLine"
        onclick="testTree()"
        style="float:right">
    Test
</button>

@section script
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>

    <script type="text/javascript">

        //Test 
        function testTree() 
        {
            var selectedElmsIds = [];
            //var selectedElms = $('#allTestsDiv').jstree(true).get_selected('full',true);
            var selectedElms = $('#allTestsDiv').jstree(true).get_json();
            alert(JSON.stringify(selectedElms));
            //$.each(selectedElms, function() {
            //    selectedElmsIds.push(this.Id);
            //});
            //for (var i = 0; i < selectedElms.length; i++) {
            //    alert(selectedElms[i].attr('id'));
            //}
        }
        //----------------------

        $(document).ready(function()
        {
            $.get("/Admin/GetImportData",
                { id: @Model.TestId },
                function(data) {
                    var allTestsData = data.allTestsData;
                    var thisTestData = data.thisTestData;

                    $('#allTestsDiv').jstree(
                        { 'core' : {
                            'data' : allTestsData,
                        },
                            'plugins' : [
                                    'checkbox'
                            ]});
                });
        });
    </script>
}
