@model ImportVM

<h1>Import Questions</h1>

<div id="allTestsDiv">
    
</div>


<div id="currentTestDiv">

</div>

<input type="button" value="Copy Selected To Test" id="copySelectedButton" />
<input type="button" value="Delete Selected From Test" id="deleteSelectedButton" />

<script type="text/javascript">

    $(document).ready(function()    
    {
        $.get("/Admin/GetImportData",
            { id: @Model.TestId },
            function(data) {
                var allTestsData = data.allTestsData;
                var thisTestData = data.thisTestData;

                //Example
                $("#allTestsDiv").text(allTestsData[0].questionList[0].questionText);
            });
    });

</script>