@model ImportVM

<h1>Import Questions</h1>
<div class="row">
    <div class="col-md-4">
        <div id="allTestsDiv">
            <h3>JsTree plugin</h3>
            <div id="jstree"></div>
        </div>
    </div>
    @*<div class="col-md-4">
            <h3>Angular tree</h3>
            <ul ng-controller="TreeController">
                <li ng-repeat="data in tree" ng-include="'tree_item_renderer.html'"></li>
            </ul>
        </div>*@
    <div class="col-md-4">
        <h3>Current test</h3>
        <div id="currentTestDiv">
        </div>
    </div>
</div>

<input type="button" value="Copy Selected To Test" id="copySelectedButton" />
<input type="button" value="Delete Selected From Test" id="deleteSelectedButton" />

@section script
{
    <script type="text/javascript">
        $(document).ready(function()
        {
            $.get("/Admin/GetImportData",
                { id: @Model.TestId },
                function(data) {
                    var allTestsData = data.allTestsData;
                    var thisTestData = data.thisTestData;

                    //Example
                    $("#allTestsDiv").text(allTestsData[0].questionList[0].questionText);
                });
        });
    </script>
}
