<div class="container row" ng-mousemove="filterSwitch();">
    <h1>Test Results</h1>
    <div class="col-xs-6">
        @*<canvas id="testScoreSegments" height="200"></canvas>*@
        <div id="bar-legend" ng-hide="true"></div>
        <div id="showFilter" ng-hide="true"></div>
    </div>
    <div class="col-xs-12">
        <canvas id="testScoreTotalAmountPassed" width="600" height="350"></canvas>
        <br />
        <br />
        <p style="color:gray; text-align:center;">Pass ({{gotClass.resultData.passResult}})<span class="passColor"></span>Fail<span class="failColor"></span></p>
    </div>
</div>

<div class="container row">
    <form role="form" style="width:30%;">
        <div class="input-group right-inner-addon">
            <input type="text" class="form-control input-group-sm" style="margin-left:0;background-color:rgba(255, 255, 255, 0.36);font-size:large;" ng-model="search" placeholder="Search Class" />
            <i class="glyphicon glyphicon-search"></i>           
        </div>
    </form>
    <table id="studentsTakingTest">
        <tr>
            <th><a href="#" ng-click="order.field = 'name'; order.reverse = !order.reverse">Student Name<span ng-show="order.field == 'name'" class="fa fa-caret-down LeftMargin5"></span></a></th>
            <th><a href="#" ng-click="order.field = 'email'; order.reverse = !order.reverse">E-mail<span ng-show="order.field == 'email'" class="fa fa-caret-down LeftMargin5"></span></a></th>
            <th><a href="#" ng-click="order.field = 'testscore'; order.reverse = !order.reverse">Test Score<span ng-show="order.field == 'testscore'" class="fa fa-caret-down LeftMargin5"></span></a></th>
        </tr>
        <tr ng-repeat="student in gotClass.students | orderBy:dynamicOrder:order.reverse | filter:studentFilter | filter:search">
            <td>{{student.name}}</td>
            <td>{{student.email}}</td>
            <td>{{student.testscore}}</td>
        </tr>
    </table>
</div>

<div>
    @*<div class="row">
            <table id="studentsTakingTest">
                <tr>
                    <th>Student Name</th>
                    <th>E-mail</th>
                    <th>Test Score</th>
                </tr>
                <tr>
                    <td>Danaereys Targaryen</td>
                    <td>wherearemydragons@mail.com</td>
                    <td>99%</td>
                </tr>
                <tr>
                    <td>Rhaegar Targaryen</td>
                    <td>iheartlyanna@mail.com</td>
                    <td>100%</td>
                </tr>
                <tr>
                    <td>Aerys Targaryen</td>
                    <td>madking@mail.com</td>
                    <td>91%</td>
                </tr>
                <tr>
                    <td>Aemon Targaryen</td>
                    <td>goodguy@mail.com</td>
                    <td>92%</td>
                </tr>
                <tr>
                    <td>Viserys Targaryen</td>
                    <td>goldencrow@mail.com</td>
                    <td>96%</td>
                </tr>
                <tr>
                    <td>Robert Baratheon</td>
                    <td>kingsblood@mail.com</td>
                    <td>78%</td>
                </tr>
                <tr>
                    <td>Stannis Baratheon</td>
                    <td>rightfulheir@mail.com</td>
                    <td>80%</td>
                </tr>
                <tr>
                    <td>Renly Baratheon</td>
                    <td>youngandwise@mail.com</td>
                    <td>85%</td>
                </tr>
                <tr>
                    <td>Tywin Lannister</td>
                    <td>familyname@mail.com</td>
                    <td>88%</td>
                </tr>
                <tr>
                    <td>Tyrion Lannister</td>
                    <td>drinksandknowthings@mail.com</td>
                    <td>89%</td>
                </tr>
                <tr>
                    <td>Jamie Lannister</td>
                    <td>givemeahand@mail.com</td>
                    <td>75%</td>
                </tr>
                <tr>
                    <td>Cercei Lannister</td>
                    <td>givemehair@mail.com</td>
                    <td>80%</td>
                </tr>
                <tr>
                    <td>Eddard Stark</td>
                    <td>nedshead@mail.com</td>
                    <td>83%</td>
                </tr>
                <tr>
                    <td>Catelyn Stark</td>
                    <td>stoneheart@mail.com</td>
                    <td>82%</td>
                </tr>
                <tr>
                    <td>Robb Stark</td>
                    <td>pridebeforethefall@mail.com</td>
                    <td>88%</td>
                </tr>
                <tr>
                    <td>Sansa Stark</td>
                    <td>queeninthenorth@mail.com</td>
                    <td>85%</td>
                </tr>
                <tr>
                    <td>Arya Stark</td>
                    <td>blinddate@mail.com</td>
                    <td>77%</td>
                </tr>
                <tr>
                    <td>Bran Stark</td>
                    <td>visionquest@mail.com</td>
                    <td>79%</td>
                </tr>
                <tr>
                    <td>Rickon Stark</td>
                    <td>shaggysfriends@mail.com</td>
                    <td>74%</td>
                </tr>
                <tr>
                    <td>Theon Greyjoy</td>
                    <td>reek@mail.com</td>
                    <td>71%</td>
                </tr>
                <tr>
                    <td>Yara Greyjoy</td>
                    <td>whatisdeadmayneverdie@mail.com</td>
                    <td>67%</td>
                </tr>
                <tr>
                    <td>Balon Greyjoy</td>
                    <td>shakylegs@mail.com</td>
                    <td>51%</td>
                </tr>
                <tr>
                    <td>Roose Bolton</td>
                    <td>ironicdagger@mail.com</td>
                    <td>60%</td>
                </tr>
                <tr>
                    <td>Ramsay Bolton</td>
                    <td>releasethehounds@mail.com</td>
                    <td>54%</td>
                </tr>
                <tr>
                    <td>Walder Frey</td>
                    <td>weddingplanner@mail.com</td>
                    <td>57%</td>
                </tr>
                <tr>
                    <td>Walda Frey</td>
                    <td>gotanychicken@mail.com</td>
                    <td>64%</td>
                </tr>
                <tr>
                    <td>Littlefinger</td>
                    <td>ladderclimber@mail.com</td>
                    <td>53%</td>
                </tr>
                <tr>
                    <td>Varys</td>
                    <td>spiderwebs@mail.com</td>
                    <td>40%</td>
                </tr>
                <tr>
                    <td>Gregor Clegane</td>
                    <td>ridingmountains@mail.com</td>
                    <td>5%</td>
                </tr>
                <tr>
                    <td>Sandor Clegane</td>
                    <td>houndsonfire@mail.com</td>
                    <td>15%</td>
                </tr>
                @foreach (var student in classOfStudents)
                    {
                        <tr>
                            <td>@student.fullName</td>
                            <td>@student.email</td>
                            <td>@student.testScore</td>
                        </tr>
                    }
            </table>
        </div>*@
</div>

<style>
    .right-inner-addon {
        position: relative;       
    }

        .right-inner-addon input {
            padding-right: 30px;
        }

        .right-inner-addon i {
            position: absolute;
            right: 0px;
            padding: 10px 12px;
            pointer-events: none;
        }

    a {
        text-decoration: none !important;
        color: white;
    }

        a:hover {
            color: antiquewhite;
        }

        a:visited {
            color: whitesmoke !important;
        }

    .passColor {
        background-color: #4383BA;
        padding-right: 40px;
        margin-left: 5px;
        margin-right: 5px;
    }

    .failColor {
        background-color: #4BCAB4;
        padding-right: 40px;
        margin-left: 5px;
        margin-right: 5px;
    }

    table {
        margin: 0 auto;
        width: 100%;
        margin-top: 1% !important;
    }

    th, td {
        width: 33%;
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    tr:hover {
        background-color: #bcc5d1 !important;
    }

    tr:nth-child(even) {
        background-color: #e8e8e8;
    }

    th {
        background-color: #4383BA;
        color: white;
    }

    .container {
        width: 80%;
        margin: 20px auto;
    }

    .p {
        text-align: center;
        font-size: 14px;
        padding-top: 140px;
    }
</style>
<script>
    $(function () {
        //var testScoreSegmentsData = {
        //    labels: ["<50%", "50-70%", "71-90%", "90%<", "All Students"],
        //    datasets: [
        //        {
        //            label: "Testresultat",
        //            fillColor: "#4383BA",
        //            highlightFill: "#356691",
        //            data: [3, 7, 15, 5, 30]
        //        },
        //    ]
        //}

        //var ctx = document.getElementById("testScoreSegments").getContext("2d");
        //var testChart = new Chart(ctx).Bar(testScoreSegmentsData, {
        //    responsive: true,
        //    barValueSpacing: 2,
        //    animateScale: true,
        //});
        //var canvas = document.getElementById('testScoreSegments');

        //document.getElementById('bar-legend').innerHTML = testChart.generateLegend();
        //var legendHolder = document.getElementById('bar-legend');

        //canvas.onclick = function (evt) {
        //    var activePoints = testChart.getBarsAtEvent(evt);
        //    console.log(activePoints);
        //    console.log(activePoints[0].label);
        //    switch (activePoints[0].label) {
        //        case "<50%":
        //            document.getElementById('showFilter').innerHTML = 'below50';
        //            break;
        //        case "50-70%":
        //            document.getElementById('showFilter').innerHTML = 'between50and70';
        //            break;
        //        case "71-90%":
        //            document.getElementById('showFilter').innerHTML = 'between71and90';
        //            break;
        //        case "90%<":
        //            document.getElementById('showFilter').innerHTML = 'over90';
        //            break;
        //        case "All Students":
        //            document.getElementById('showFilter').innerHTML = 'showAll';
        //            break;
        //        default:
        //    }
        //};

        var pieData = [
	        {
	            label: "Pass",
	            value: 20,
	            color: "#4383BA",
                highlightFill: "#356691"
	        },
	        {
	            label: "Fail",
	            value: 10,
	            color: "#4BCAB4",
	            highlightFill: "#356691"
	        }
        ];

        var pieOptions = {
            responsive: true,
            segmentShowStroke: false,
            animateScale: true
        }

        var pieStudents = document.getElementById("testScoreTotalAmountPassed").getContext("2d");
        var myChart = new Chart(pieStudents).Doughnut(pieData, pieOptions);

        var canvas2 = document.getElementById('testScoreTotalAmountPassed');
        canvas2.onclick = function (evt) {
            var activePoints = myChart.getSegmentsAtEvent(evt);
            console.log(activePoints);
            console.log(activePoints[0].label);
            switch (activePoints[0].label) {
                case "Fail":
                    document.getElementById('showFilter').innerHTML = 'fail';
                    break;
                case "Pass":
                    document.getElementById('showFilter').innerHTML = 'pass';
                    break;
                default:
            }
        };
    })
</script>