<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <h1>Devloper Test overview</h1>
        <a class="btn btn-default" href="~/User/Login">Login</a>
        <a class="btn btn-default" href="~/AdminCreate/EditTestContent/1">Edit test</a>
        <a class="btn btn-default" href="~/TestSession/Index/1">Testsession</a>
    </div>
</div>