@{
    Layout = "_rootLayout";
}

<div class="container-fluid" style="margin-top: -80px;">
    <div class="row">
        <div class="divImage topMargin36" style="background-image: url(../../../Images/MoodPictures/TestPic1.jpg); height: 600px;">
            <div class="bluePic"></div>
        </div>
    </div>
</div>

<div class="container" style="margin-top: -500px;">
    <div class="row">
        <div class="col-lg-2 col-md-1 hidden-sm hidden-xs"></div>
        <div class="col-lg-8 col-md-10 col-sm-12 col-xs-10">
            <h1 class="white center hidden-xs" style="font-size: 62px;">Whats your answer?</h1>
            <h1 class="white center hidden-lg hidden-md hidden-sm">Whats your answer?</h1>
            <h3 class="white center">OrcaQuiz is an easy way to make quizes, surveys or tests!</h3>
            <h3 class="white center">Register today and create a music quiz for your friends, a survey for an event or a tests for grading your class. </h3>
        </div>
        <div class="col-lg-2 col-md-1 hidden-sm hidden-xs"></div>
    </div>
</div>