<script>
    app.controller('newQuestionCtrl', ['$scope', '$filter', function ($scope, $filter) {
        $scope.searchquery = '';
        $scope.showQuestionForm = false;
        $scope.openQuestion = function () {
            alert('showQuestionForm is: ' + $scope.showQuestionForm)
            $scope.showQuestionForm = true;
            alert('showQuestionForm is: ' + $scope.showQuestionForm)
        };
        $scope.hideQuestion = function () {
            $scope.showQuestionForm = false;
        };
        $scope.openAnswer = function () {
            $scope.showAnswerForm = true;
        };

        $scope.answerText = '';
        $scope.answerList = ['First answer', 'Second answer', 'Third answer'];

        $scope.addAnswer = function () {
            $scope.answerList.push($scope.answerText);
        };
        $scope.showQuestionForm = false;
        //alert('angular ready!');

        $scope.test = "Sometext";

        $scope.checkboxValue = false;

        $scope.checkCurrent = function (questionId) {
            checkboxValue = true;
        };

        $scope.testList =
            [{
                title: "C#-quiz",
                isTestChecked: false,
                tags: "C#",
                questionList: [{
                    questionId: 1,
                    title: "Vad är en variabel?",
                    isQuestionChecked: false,
                    answerList: [{
                        answerText: "Det är en banan.",
                        isCorrect: false
                    },
                    {
                        answerText: "Det är en databärare.",
                        isCorrect: true
                    }]
                },
                {
                    questionId: 2,
                    title: "Hur skriver man till konsolen?",
                    answerList: [{
                        answerText: "console.readline()",
                        isCorrect: false
                    },
                    {
                        answerText: "console.writeline()",
                        isCorrect: true
                    },
                    {
                        answerText: "console.submitline()",
                        isCorrect: false
                    }]
                }
                ]
            }];


    }]);
</script>

<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <h1>Devloper Test overview</h1>
        <a class="btn btn-default" href="~/User/Login">Login</a>
        <a class="btn btn-default" href="~/AdminCreate/EditTestContent/1">Import</a>
        <a class="btn btn-default" href="~/TestSession/Index/1">Testsession</a>
        <a class="btn btn-default" href="AdminCreate/index">Admin Index</a>
    </div>
</div>

<div ng-controller="newQuestionCtrl" ng-init="countdown();">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <br />
                <form role="form">
                    <div class="input-group">
                        <button class="btn btn-default"><span class="glyphicon glyphicon-plus" ng-click="openQuestion(); alert($scope.showQuestionForm)"></span></button>
                    </div>
                </form>
                <div ng-show="showQuestionForm" style="height:70%; width:80%; background-color:#b6b6b6; border-radius:5px; box-shadow:2.5px 2.5px 1px 1px">
                    <form role="form">
                        <div class="input-group" style="width:80%; padding-left:10%;">
                            <br />
                            <input class="form-control input-group-sm" type="text" placeholder="Title" />
                            <br />
                            <input class="form-control input-group-lg" type="text" placeholder="Description" />
                            <br />
                            <br />
                            <ul class="answerList">
                                <li ng-repeat="answer in answerList">
                                    {{ answer }}
                                    <button class="btn btn-warning">Edit</button>
                                    <button class="btn btn-danger">Delete</button>
                                </li>
                            </ul>
                            <button class="btn btn-default" ng-click="openAnswer();"><span class="glyphicon glyphicon-plus"></span></button>
                            <br />
                            <div ng-show="showAnswerForm" style="height:70%; width:80%; background-color:#6e6e6e; border-radius:5px; box-shadow:2.5px 2.5px 1px 1px">
                                <div class="input-group" style="width:80%; padding-left:10%;">
                                    <br />
                                    <input class="form-control input-group-lg" type="text" ng-model="answerText" placeholder="Answer" />
                                    <br />
                                    <br />
                                    <button class="btn btn-success" type="button" ng-click="addAnswer();">Add Answer</button>
                                    <br />
                                    <br />
                                </div>
                            </div>
                            <button class="btn btn-success" type="submit" ng-click="hideQuestion();">Create Question</button>
                            <br />
                            <br />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- #region Search-Engine -->
    <div class="row">
        <h2>Search Tests</h2>
    </div>
    <form role="form" style="width:30%;">
        <div class="input-group">
            <input type="text" class="form-control input-group-sm" style="margin-left:0;background-color:rgba(255, 255, 255, 0.36);font-size:large;" ng-model="searchquery" placeholder="Search" />
            <span class="input-group-btn">
                <button class="btn btn-info" type="submit" style="height:34px; color:#3f3f3f; background-color:rgba(255, 255, 255, 0.36); border-color:#d0c9c9">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div>
    </form>
    
    <div class="row">
        <div ng-repeat="test in testList | filter:searchquery" width="100%">
            <input type="checkbox" /><button class="btn btn-default "><span class="glyphicon glyphicon-plus"></span></button>{{ test.title }}
            <div ng-repeat="question in test.questionList" style="margin-left:20px;">
                <input type="checkbox" ng-model="checkCurrent(question.questionId)" /><button class="btn btn-default "><span class="glyphicon glyphicon-plus"></span></button>{{ question.title}}
                <div ng-repeat="answer in question.answerList" style="margin-left:40px;">
                    <input type="checkbox" /><button class="btn btn-default "><span class="glyphicon glyphicon-plus"></span></button>{{ answer.answerText }}
                </div>
            </div>
        </div>
    </div>
    <hr />
    <!-- #endregion -->
    
</div>


