@{
    Layout = "_SmallInputLayout";
}
<h1>Login</h1>
<p class="TopMargin20">E-mail</p>
<input class="form-control input-group-sm" type="text" placeholder="E-mail" />
<p class="TopMargin20">Password</p>
<input class="form-control input-group-sm" type="password" placeholder="Password" />
<button class="form-control orcaBtn btnWidth120 btnSmall TopMargin20" type="submit"><span class="fa fa-sign-in rightMargin5"></span>Login</button>

