<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-md-3 col-sm-2 hidden-xs"></div>
        <div class="col-lg-4 col-md-6 col-sm-8 col-sx-12 whiteSquare">
            <h1>Login</h1>
            <p class="TopMargin20">E-mail</p>
            <input class="form-control input-group-sm" type="text" placeholder="E-mail" />
            <p class="TopMargin20">Password</p>
            <input class="form-control input-group-sm" type="password" placeholder="Password" />
            <button class="form-control OrcaQuizzBtn" type="submit">Login</button>
        </div>
        <div class="col-lg-4 col-md-3 col-sm-2 hidden-xs"></div>
    </div>
</div>

