/*---------------------------------------------------------------------------
                              PARAGRAPH TEXT 
---------------------------------------------------------------------------*/

p {
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
}


/*---------------------------------------------------------------------------
                                 HEADING 
---------------------------------------------------------------------------*/

h1 {
    font-family: Lora;
    font-size: 42px;
    font-weight: 700;
}

h2 {
    font-family: Lora;
    font-size: 28px;
    font-weight: 700;
}

h3 {
    font-family: Lora;
    font-size: 22px;
    font-weight: 700;
}

h4 {
    font-family: Lora;
    font-size: 16px;
    font-weight: 700;
}

h5 {
    font-family: Lora;
    font-style: italic;
    font-size: 16px;
    font-weight: 400;
}

h6 {
    font-family: Lora;
    font-size: 14px;
    font-weight: 700;
}

/*---------------------------------------------------------------------------
                                 SETTINGS 
---------------------------------------------------------------------------*/

.onTheLine {
    display: inline !important;
}

/*---------------------------------------------------------------------------
                               FONT STYLE 
---------------------------------------------------------------------------*/

.pBold {
    font-weight: 900;
}

/*---------------------------------------------------------------------------
                                 COLOR 
---------------------------------------------------------------------------*/

/* RED */
.red {
    color: #D03427;
}

.bgRed {
    background-color: #D03427;
}

.bgRed:hover {
    background-color: #BF332C;
}

/* LIGHT BLUE */
.lightBlue {
    color: #597ba9;
}

.bgLightBlue {
    background-color: #b5d1f7;
}

.bgLightBlue:hover {
    background-color: #dbeafe;
}


/* YELLOW */
.yellow {
    color: #b38e2f;
}

.bgYellow {
    background-color: #b38e2f;
}

.bgYellow:hover {
    background-color: #b38e2f;
}

/* GREEN */
.green {
    color: #45b449;
}

.bgGreen {
    background-color: #45b449;
}

.bgGreen:hover {
    background-color: #228b26;
}