/*---------------------------------------------------------------------------
                              ANSWER LIST 
---------------------------------------------------------------------------*/

.answerList {
    margin-top: 20px;
    margin-left: 0;
}

    .answerList li {
        margin-top: 6px;
        list-style-type: none;
        background-color: #909090;
        border-radius: 5px;
        padding: 3px;
    }

/*---------------------------------------------------------------------------
                              TABLE STYLE 
---------------------------------------------------------------------------*/

.tableRow {
    border-radius: 3px;
}

/*---------------------------------------------------------------------------
                              TEXT AREA
---------------------------------------------------------------------------*/

textarea.tinyMCE {
    width: 100% !important;
}

/*---------------------------------------------------------------------------
                              BUTTON
---------------------------------------------------------------------------*/

.awesomeQuizzBtn {
    background-color: #337AB7; /* Blue */
    border: none;
    border-radius: 3px;
    color: white;
    font-family: Lato !important;
    font-size: 16px !important;
    letter-spacing: 1px !important;
    font-weight: 400 !important;
    text-decoration: none;
    padding:8px;
    margin-top:-8px;
    margin-right:4px;
}

 .OrcaQuizzBtn:hover {
        opacity: 1;
    background-color: #2b679b; /* Blue */
    }

.OrcaQuizzBtn {
    background-color: #337AB7; /* Blue */
    border: none;
    border-radius: 3px;
    color: white;
    font-family: Lato !important;
    font-size: 16px !important;
    letter-spacing: 1px !important;
    font-weight: 400 !important;
    /*padding: 8px 32px;*/
    width: 118px;
    height: 40px;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-align: center;
    /*opacity: 0.9;*/
    margin-top: 20px;
    /*-webkit-transition: all 0.6s ease;*/
}

    .awesomeQuizzBtn:hover {
        opacity: 1;
        background-color: #2b679b; /* Blue */
    }

    .btnLong {
width: 200px !important;
}

/*---------------------------------------------------------------------------
                            WHITE BACKGROUND 
---------------------------------------------------------------------------*/

.whiteSquare {
    background-color: rgba(255,255,255,0.75);
    border-radius: 3px;
    margin: 20px 20px 20px 20px !important;
    padding: 1px 40px 30px 40px;
}
