/*---------------------------------------------------------------------------
                              ANSWER LIST 
---------------------------------------------------------------------------*/

.answerList {
    margin-top: 20px;
    margin-left: 0;
}

    .answerList li {
        margin-top: 6px;
        list-style-type: none;
        background-color: #909090;
        border-radius: 5px;
        padding: 3px;
    }

/*---------------------------------------------------------------------------
                              TABLE STYLE 
---------------------------------------------------------------------------*/

.tableRow {
    border-radius: 3px;
}

/*---------------------------------------------------------------------------
                              TEXT AREA
---------------------------------------------------------------------------*/

textarea.tinyMCE {
    width: 100% !important;
}

/*---------------------------------------------------------------------------
                              BUTTON
---------------------------------------------------------------------------*/

.orcaBtn {
    background-color: #337AB7; /* Blue */
    color: white;
    border: none;
    border-radius: 3px;
    font-family: Lato !important;
    font-size: 16px !important;
    letter-spacing: 1px !important;
    font-weight: 400 !important;
    text-decoration: none;
}

.orcaBtn:hover {
    opacity: 1;
    background-color: #2b679b; /* Blue */
}

.orcBtnSize {
    padding: 8px;
    margin-top: -8px;
    margin-right: 4px;
}

.OrcaQuizzBtn {
    width: 118px;
    height: 40px;
    display: inline-block;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-align: center;
    /*opacity: 0.9;*/
    margin-top: 20px;
    /*-webkit-transition: all 0.6s ease;*/
}

.btnLong {
    width: 200px !important;
}

/*---------------------------------------------------------------------------
                              BOXES
---------------------------------------------------------------------------*/

.transparentWhiteSquare {
    background-color: rgba(255,255,255,0.75);
    border-radius: 3px;
    margin: 20px 20px 20px 20px !important;
    padding: 1px 40px 30px 40px;
}

.whiteSquare {
    background-color: white;
    padding: 20px;
}
