/*---------------------------------------------------------------------------
                         ALL FOUR CORNERS MARGIN
---------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------
                            TOP & BOTTOM MARG
---------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------
                            LEFT & RIGHT MARGIN
---------------------------------------------------------------------------*/
.leftRightMargin10 {
    margin: 0 10px;
}

.leftRightMargin20 {
    margin: 0 20px;
}
/*---------------------------------------------------------------------------
                                TOP MARGIN
---------------------------------------------------------------------------*/

.TopMargin-80 {
    margin-top: -80px;
}

.TopMargin20 {
    margin-top: 20px;
}
/*---------------------------------------------------------------------------
                               RIGHT MARGIN
---------------------------------------------------------------------------*/
.rightMargin10 {
    margin-right: 10px;
}

.RightMargin20 {
    margin-right: 20px;
}
/*---------------------------------------------------------------------------
                              BOTTOM MARGIN
---------------------------------------------------------------------------*/
.BottomMargin20 {
    margin-bottom: 20px;
}
/*---------------------------------------------------------------------------
                               LEFT MARGIN
---------------------------------------------------------------------------*/
.LeftMargin20 {
    margin-left: 20px;
}
