/*---------------------------------------------------------------------------
                         ALL FOUR CORNERS MARGIN
---------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------
                            TOP & BOTTOM MARG
---------------------------------------------------------------------------*/

.topBottomMargin20 {
    margin: 20px 0;
}

/*---------------------------------------------------------------------------
                            LEFT & RIGHT MARGIN
---------------------------------------------------------------------------*/
.leftRightMargin10 {
    margin: 0 10px;
}

.leftRightMargin20 {
    margin: 0 20px;
}
/*---------------------------------------------------------------------------
                                TOP MARGIN
---------------------------------------------------------------------------*/

.TopMargin-80 {
    margin-top: -80px;
}

.topMargin-8 {
    margin-top: -8px;
}

.topMargin3 {
    margin-top:3px;
}

.TopMargin20 {
    margin-top: 20px;
}
/*---------------------------------------------------------------------------
                               RIGHT MARGIN
---------------------------------------------------------------------------*/
.rightMargin5 {
    margin-right:5px;
}

.rightMargin10 {
    margin-right: 10px;
}

.RightMargin20 {
    margin-right: 20px;
}

/*---------------------------------------------------------------------------
                              BOTTOM MARGIN
---------------------------------------------------------------------------*/
.BottomMargin20 {
    margin-bottom: 20px;
}
/*---------------------------------------------------------------------------
                               LEFT MARGIN
---------------------------------------------------------------------------*/

.LeftMargin20 {
    margin-left: 20px;
}
