

<a asp-action="CreateTest" asp-controller="AdminCreate"><h2>Create New Test</h2></a>
<a asp-action="ChooseTestTemplate" asp-controller="AdminCreate"><h2>Create Test From Template</h2></a>
<a asp-action="CreateModule" asp-controller="AdminCreate"><h2>Create Test Module</h2></a>

