

<a asp-action="CreateTest" asp-controller="AdminCreate"><h1>Create New Test</h1></a>
<a asp-action="CreateTestFromTemplate" asp-controller="AdminCreate"><h1>Create Test From Template</h1></a>
<a asp-action="CreateModule" asp-controller="AdminCreate"><h1>Create Module</h1></a>

