

<a asp-action="CreateTest" asp-controller="AdminCreate"><h1>Create New Test</h1></a>
<a asp-action="ChooseTestTemplate" asp-controller="AdminCreate"><h1>Create Test From Template</h1></a>
<a asp-action="CreateModule" asp-controller="AdminCreate"><h1>Create Test Module</h1></a>

